h1, h2 {
	font-family: "Fugaz One", sans-serif;	
}

p {
	color: rgba(255,255,255,.6);
    font-size: 1em;
	font-family: "Oswald", sans-serif;	
}

body {
    background-color: #327aa7;
    padding: 0 20px 20px 20px;
    margin: 0;
}
