body {
	background-color: rgb(144, 238, 144);
	padding: 0 20px 20px 20px;
	margin: 0;
}	
	p {
		color: rgb(255, 255, 255);
		font-size: 1em;
		font-family: "Audiowide", sans-serif;
	}

h1, h2 {
		color: rgb(31, 81, 255);
		font-family: "Audiowide", sans-serif;
		border-bottom: 2px solid rgb(87,185,178);
		padding-top: 10px;
		padding-bottom: 5px;
}

.table {
		background: #FFED29;
	    border: 1px solid yellow;
		border-collapse: collapse;
		border-style: solid;;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		
}

th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.list {
	text-align: center !important;
	list-style-position: inside;
	margin-left: auto;
	margin-right: auto;
}

.ul {
	text-align: center !important;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
