h1, h2, h3 {
    font-family: "Wendy One", sans-serif;
}
p {
    font-family: "Pangolin", cursive;
}

body { 
    background-color: #818589;
    background-image: url(img/criss-cross.webp);
    background-repeat: repeat;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

article {
      border: 10px solid rgb(112, 85, 38);
      border-radius: 10px;
      background-color: #6c1573;
      margin-top: 25px;
      margin-bottom: 25px;
      padding: 20px;
}

h1 {
     font-size: 80px;
      color: #1e1709;
}

h2 {
      font-size: 50px;
}

h3 {
      font-size: 30px;
      text-align: left;
      color: #1e1709;
}

p {
      font-size: 25px;
      text-align: left;
      line-height: 35px;
      color: #202020;
}

.float-right {
      float: right;
      width: 42px;
      height: 42px;
}
